[Unit]
Description=Izvestia archive
After=network.target

[Service]
WorkingDirectory=/home/mabel/.3f-lab/_humanitarian/izvestia
Environment=ORIGIN=https://izvestia.yababay.me
Environment=PORT=3011
Environment=BODY_SIZE_LIMIT=Infinity
ExecStart=/usr/local/bin/node build
Restart=on-failure
RestartSec=2s

[Install]
WantedBy=multi-user.target
