[Unit]
Description=Redis In-Memory Data Store
After=network.target

[Service]
User=redis
Group=redis
ExecStart=/usr/local/bin/redis-server /etc/redis/6378.conf
ExecStop=/usr/local/bin/redis-cli shutdown
#WorkingDirectory=/var/lib/redis
Restart=always

[Install]
WantedBy=multi-user.target
